a{
    color: #ccffcc;
}

#container {
	width: 824px;
	margin: 40px auto;
}

body {
	font-size: 75%;
	color: #444;
	background: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#image-0 {
	position: absolute;
	bottom: 0;
}

#unit-kitten-content p:nth-child(3) {
	padding: 8px 16px;
	background: #444;
	color: white;
	font-weight: bold;
	width: 376px;
	position: absolute;
	bottom: 400px;
	margin-bottom: 0;
}

#unit-many-many-pictures-of-small-cats {
	width: 408px;
	float: right;
	margin-left: 8px;
	margin-bottom: 8px;
}
#image-1,#image-2,#image-3 {
	float: left;
}
#image-1 {
	margin-right: 8px;
}
#unit-many-many-pictures-of-small-cats img {
	margin-bottom: 8px;
}
#image-4,#image-5,#image-6,#image-7 {
	float: right;
}
#image-4 {
	margin-left: 8px;
}
#image-5 {
	margin-left: 8px;
}
#footer {
	font-size: 85.714%;
	clear: both;
	margin-top: 16px;
	border-top: 1px solid #D6D6D6;
	padding: 12px 0;
}



