*{
    color: white;
    border-radius:3px;
}
.box1{
    background-color: gray;
    width: 200px;
    height:230px;
    float: left;
    margin: 10px;

}

.box2{
    background-color: gray;
    width: 300px;
    height:130px;
    float: right;
    margin: 10px;


}

.box3{
    background-color:gray;
    width: 300px;
    height:30px;
    margin: 10px;
    float: right;


}

.box4{
    background-color:gray;
    width: 300px;
    height:30px;
    margin: 10px;
    float: right;
}

.box5{
    background-color:gray;
    width: 563px;
    height:30px;
    top: 260px;
    margin: 10px;
}